

body, html, h1, h2, h3, h4, p {
	font-family:'inter',sans-serif !important;
	scroll-behavior: smooth;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}
 
.grid {
	max-width: 85em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding:0px;
	width: 33%;
	opacity: 100;
	overflow: hidden;

}
.add-30 {
	margin: 12px auto auto auto;
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	width: 100%;
}
	#masonry {
		overflow: hidden;
	} 


	.content-wrap {
		position: relative;
		margin-right: 22px;
	}
	.card-container {
		margin-bottom: 38px;
	}
	.btn:active, .btn.active {
		outline: 0;
		background-image: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		color:#000
	}
	.overlay-content {
		background-color: rgba(0,0,0,0.8);
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.content-wrap .overlay-content {
		opacity:0;
		transform: translate3d(0, 20%, 0);
		transition: opacity 0.35s, transform 0.35s;
	   
	}
	.content-wrap:hover .overlay-content{
		opacity:100;
		transform:translateY(0px);
	}
	.project-description {
		color: #fff;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		display: block;
		height: 145px;
		margin: auto;
	}
	.landing-illustration img {
		width:100%;
	}
	.disable-float {
		float:none !important;
	}
	.btn-toolbar {
		text-align:center;
		margin:50px auto 30px auto
	}
	.btn-toolbar .btn-group label  {
		font-size:16px;
		font-weight:300;
		color:#666;
	}
	.btn-toolbar .btn-group label.active {
		color:#333;
		font-weight:400;
	}
	.project-description h2{
		font-weight:500;
		font-size:22px;
		margin:auto auto 20px auto;
	}
	.project-description h3 {
		font-weight:300;
		font-size:16px;
		margin:15px auto 3px auto;
	}
	.project-description p {
		font-weight:100;
		font-size:15px;
	}
	.wrap-scroll-down {
		text-align:center;
		margin:30px auto 20px auto;
	}
	.scroll-down {
		background-image: url(../img/scroll-down.gif);
		background-repeat: no-repeat;
		background-position: center;
		width: 40px;
		height: 60px;
		margin:auto;
	}
	.overlay-text {
		color:#fff;
	}
	.overlay-text h2 {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		vertical-align: middle;
		height: 35px;
		margin: auto;
		font-weight: 200;
		font-size: 22px;
	}
	.bottom-illustration {
		
	}
	.bottom-illustration{
		width: 100%;
		height: 400px;
		background-image: url(../img/img-illustration-bottom.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
		margin: auto auto 30px auto;
		position:absolute;
		right:0
	}
	.address h3 {
		font-weight:300;
		color:#333
	}
	.address p {
		font-weight:300;
		color:#777;
		line-height:26px;
	}
	.wrap-address {
		margin:60px auto auto auto;
	} 
	.wrap-copyright {
		border-top:1px solid #eee;
		margin-top:30px;
		padding:30px 0px;
		text-align: center;
		font-weight: 300;
		font-size:13px;
		color:#666
	}
	.clearfix {
		clear:both
	}
	.address ul {
		margin-top:15px;
	}
	.address ul li { 
		list-style:none;
		font-weight:300;
		color:#777;
		line-height: 26px;
		margin: 0px auto 15px auto;
	}
	.ico-time {
		width: 25px;
		height: 25px;
		background-image: url(../img/ico-time.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		float: left;
		margin: auto 10px auto 0px;
		opacity: 0.3;
	}

	.ico-call {
		width: 25px;
		height: 25px;
		background-image: url(../img/ico-phone.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		float: left;
		margin: auto 10px auto 0px;
		opacity: 0.3;
	}

	.ico-mail {
		width: 25px;
		height: 25px;
		background-image: url(../img/ico-email.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		float: left;
		margin: auto 10px auto 0px;
		opacity: 0.3;
	}

@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50% !important;
	}
}
@media screen and (min-width:992px) {
	.screen-sm {
		display:none;
	}
}
@media screen and (max-width:991px) {

	.bottom-illustration {
		position:relative;
	}
	.screen-lg {
		display:none;
	}
	.screen-sm {
		position: relative;
	}
	.address {
		text-align: center;
	}
	.address ul {
		display: grid;
	}
}


@media screen and (max-width: 500px) {
	.grid li {
		width: 100% !important;
		padding: 0px 0px 0px 25px;
	}
	.bottom-illustration {
		position:relative;
	}
	.screen-lg {
		display:none;
	}
	.screen-sm {
		position: relative;
	}
}
